C++/bin/
C++/temp/


Python/__pycache__/
Python/CNN/logs/
Python/CNN/CNN.model/

Python/DecisionTree/decisionTree.pkl
Python/DecisionTree/pca.pkl
Python/DecisionTree/minst
Python/DecisionTree/minst.pdf

Python/SimpleANN/logs/
Python/SimpleANN/simple_ann_model.model/
Python/SimpleANN/simple_ann_model.h5

Python/SVM/SVM.pkl
